{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  {% block titulo %}

  <title> OSNeAl - Panel </title>
  {% endblock titulo %}

  <link rel="stylesheet" href="{% static 'css/dash-base.css' %}">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
  <!-- Boxicons CDN Link -->
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- jquery -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <!-- jBox -->
  <script src="https://cdn.jsdelivr.net/gh/StephanWagner/jBox@v1.3.3/dist/jBox.all.min.js"></script>
  <link href="https://cdn.jsdelivr.net/gh/StephanWagner/jBox@v1.3.3/dist/jBox.all.min.css" rel="stylesheet">

  {% block encabezado %}
  
  {% endblock encabezado %}
</head>


<body>

  <!-- COMIENZA PANEL -->
  <div class="sidebar">
    <div class="logo_content">
      <div class="logo">
        <div class="logo_name">Panel de Administración</div>
      </div>
      <i class='bx bx-menu' id="btn"></i>
    </div>

    <ul class="nav_list">

      <li>
        <a href="{% url 'usuarios:crear_usuario' %}">
          <i class='bx bxs-user-plus'></i>
          <span class="links_name">Propietarios</span>
        </a>
        <span class="tooltip">Propietarios</span>
      </li>

      <li>
        <a href="{% url 'mascotas:carga' %}">
          <i class='bx bxs-cat'></i>  
          <span class="links_name">Mascotas</span>
        </a>
        <span class="tooltip">Mascotas</span>
      </li>

      <li>
        <a href="dashturnos.html">
          <i class='bx bxs-calendar-edit'></i>
          <span class="links_name">Turnos</span>
        </a>
        <span class="tooltip">Turnos</span>
      </li>


      <li>
        <a href="{% url 'mascotas:historial' %}">
          <i class='bx bxs-id-card'></i>
          <span class="links_name">Historial Clinico</span>
        </a>
        <span class="tooltip">Historial</span>
      </li>

      <li>
        <a href="{% url 'mascotas:carga_vacuna' %}">
          <i class='bx bxs-injection'></i>
          <span class="links_name">Vacunas</span>
        </a>
        <span class="tooltip">Vacunas</span>
      </li>
      <!-- TERMINA LISTA DE OPCIONES DEL PANEL -->
      <!-- Footer del panel -->
    </ul>
    <div class="content">
      <div class="user">
        <div class="user_details">
          <div class="name_job">
            {% if user.is_authenticated %}
            <div class="name">{{user.username}}</div>
            {% if user.tipo_usuario == propietario or user.is_staff %}
            <div class="job">Administrador</div>
            {% elif user.veterinario %}
            <div class="job">Veterinario</div>
            {% else %}
            <div class="job">Propietario</div>
            {% endif %}
            {% else %}
            <div class="name">Nombre Usuario</div>
            <div class="job">Tipo Usuario</div>
            {% endif %}
          </div>
        </div>
        <a href="{% url 'usuarios:logout' %}">

          <i class='bx bx-log-out' id="log_out"></i>
        </a>
      </div>
    </div>
  </div>
  <div class="home_content">
    <!-- Termina el Footer del panel -->


    <!-- COMIENZA CONTENIDO DEL MENU -->

    {% block contenido %}

    {% endblock contenido %}


  </div>
  </div>

  

  <script src="{% static 'js/dash-base.js' %}"></script>

  {% block js %}

  {% endblock js %}
</body>

</html>