{% extends 'dash-base.html' %}
    <!-- COMIENZA CONTENIDO DEL MENU -->
    
    {% block contenido %}
      
    <div class="text">ALTA DE PROPIETARIOS</div>

    <div class="container">
     <form>
       <div class="form-group">
         <label for="nombre">Nombre:</label>
         <input type="text" id="nombre" name="nombre" required>
       </div>

       <div class="form-group">
         <label for="dni">DNI:</label>
         <input type="text" id="dni" name="dni" required>
       </div>

       <div class="form-group">
         <label for="fecha-nacimiento">Fecha de nacimiento:</label>
         <input type="date" id="fecha-nacimiento" name="fecha-nacimiento" required>
       </div>

       <div class="form-group">
         <label for="direccion">Dirección:</label>
         <input type="text" id="direccion" name="direccion" required>
       </div>

       <div class="form-group">
         <label for="provincia">Provincia:</label>
         <input type="text" id="provincia" name="provincia" required>
       </div>

       <div class="form-group">
         <label for="localidad">Localidad:</label>
         <input type="text" id="localidad" name="localidad" required>
       </div>

       <div class="form-group">
         <label for="celular">Celular:</label>
         <input type="tel" id="celular" name="celular" required>
       </div>

       <div class="btn-container">
         <button type="submit">CARGAR</button>
         <button type="button">MODIFICAR</button>
         <button type="button">ELIMINAR</button>
       </div>
     </form>
   </div>
    {% endblock contenido %}
      
    
