{% extends 'dash-base.html' %}
<!-- COMIENZA CONTENIDO DEL MENU -->

{% block contenido %}

<div class="text">GESTION DE USUARIOS - OSNeal  </div>


{% include 'includes/mensajes.html' %}
  

<div class="text">BUSQUEDA DE USUARIOS</div>
<form class="form-inline" id="search-form" method="GET" action="{% url 'usuarios:buscar_usuario' %}">
  <div class="form-group mb-2">
    <label for="search-dni" class="sr-only">DNI</label>
    <input name="dni_usuario" type="text" class="form-control" id="search-dni"
      placeholder="Ingrese el DNI del Usuario que desea MODIFICAR o ELIMINAR">
  </div>
  <button type="submit" class="btn btn-primary mb-2">Buscar</button>
</form>

<div class="text">CARGA DE NUEVOS USUARIOS</div>
<form method="POST" action="{% url 'usuarios:crear_usuario' %}">
  {% csrf_token %}
  {% include 'includes/formulario.html' %}
  <div class="form-group">
    <button type="submit" class="btn btn-primary mx-xxl-5">Cargar</button>
  </div>
</form>

{% endblock contenido %}