{% extends 'dash-base.html' %}
    <!-- COMIENZA CONTENIDO DEL MENU -->
    
    {% block contenido %}
      
    <div class="text">ALTA DE USUARIOS</div>

    <form>
     <div class="form-group">
       <label for="nombre">Nombre:</label>
       <input type="text" class="form-control" id="nombre" placeholder="Ingrese su nombre completo">
     </div>
     <div class="form-group">
       <label for="dni">DNI:</label>
       <input type="text" class="form-control" id="dni" placeholder="Ingrese su número de documento">
     </div>
     <div class="form-group">
       <label for="correo">Correo electrónico:</label>
       <input type="email" class="form-control" id="correo" placeholder="Ingrese su correo electrónico">
     </div>
     <div class="form-group">
       <label for="fecha-nacimiento">Fecha de nacimiento:</label>
       <input type="date" class="form-control" id="fecha-nacimiento">
     </div>
     <div class="form-group">
       <label for="direccion">Dirección:</label>
       <input type="text" class="form-control" id="direccion" placeholder="Ingrese su dirección completa">
     </div>

       <div class="form-group">
         <label for="provincia">Provincia:</label>
         <input type="text" class="form-control" id="provincia" placeholder="Ingrese su provincia">
       </div>
       <div class="form-group">
         <label for="localidad">Localidad:</label>
         <input type="text" class="form-control" id="localidad" placeholder="Ingrese su localidad">
       </div>

     <div class="form-group">
       <label for="celular">Celular:</label>
       <input type="text" class="form-control" id="celular" placeholder="Ingrese su número de celular">
     </div>
     <div class="form-group">
       <label for="especialidad">Especialidad:</label>
       <input type="text" class="form-control" id="especialidad" placeholder="Ingrese la especialidad solo si corresponde">
     </div>
     <div class="form-group">
       <label for="opciones">Tipo de Usuario:</label>
       <select class="form-control" id="opciones">
         <option value="">Seleccione que tipo de usuario está por Cargar</option>
         <option value="opcion1">Administrador</option>
         <option value="opcion2">Veterinario/Peluquero</option>
         <option value="opcion3">Propietario</option>
       </select>
     </div>
     <div class="form-group">
       <button type="submit" class="btn btn-primary mx-xxl-5">Cargar</button>
       <button type="submit" class="btn btn-secondary mx-5">Modificar</button>
     </div>

   </form>
   <form class="form-inline" id="search-form">
     <div class="form-group mb-2">
       <label for="search-dni" class="sr-only">DNI</label>
       <input type="text" class="form-control" id="search-dni" placeholder="Ingrese el DNI del Usuario que desea MODIFICAR o ELIMINAR">
     </div>
     <button type="submit" class="btn btn-primary mb-2">Buscar</button>
   </form>
  </div>
  {% endblock contenido %}
      
    
