{% extends 'dash-base.html' %}
    <!-- COMIENZA CONTENIDO DEL MENU -->
    
    {% block contenido %}

    <nav class="navbar navbar-dark bg-dark">
      <a class="navbar-brand" href="dashuser.html">Volver</a>
    </nav>
    <div class="container my-4">
      <h1 class="text-center">Resultados de búsqueda</h1>
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Nombre</th>
              <th>DNI</th>
              <th>Correo electrónico</th>
              <th>Fecha de nacimiento</th>
              <th>Dirección</th>
              <th>Provincia</th>
              <th>Localidad</th>
              <th>Celular</th>
              <th>Editar</th>
              <th>Eliminar</th>
            </tr>
          </thead>
          <tbody>
            {% for usuario in usuarios %}
            <tr>
              <td>{{usuario.nombre}} {{usuario.apellido}}</td>
              <td>{{usuario.dni}}</td>
              <td>{{usuario.email}}</td>
              <td>{{usuario.fecha_nacimiento}}</td>
              <td>{{usuario.direccion}}</td>
              <td>{{usuario.provincia}}</td>
              <td>{{usuario.localidad}}</td>
              <td>{{usuario.telefono}}</td>
              <td><a href="#" class="btn btn-primary">Editar</a></td>
              <td><button class="btn btn-danger" onclick="eliminarUsuario(this)">Eliminar</button></td>
            {% endfor %}
            </tbody>
        </table>
      </div>
    
  {% endblock contenido %}

  {% block js %}
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  {% endblock js %}