
<!DOCTYPE html> 
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <title> OSNeAl - Panel </title>
    <link rel="stylesheet" href="stylesdash.css">
    <!-- Boxicons CDN Link -->
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
<body>

  <!-- COMIENZA PANEL -->
   <div class="sidebar">
     <div class="logo_content">
       <div class="logo">
         <div class="logo_name">Panel de Administración</div>
       </div>
       <i class='bx bx-menu' id="btn"></i>
     </div>

     <ul class="nav_list">

      <li>
        <a href="dashuser.html">
         <i class='bx bx-user'></i>
         <span class="links_name">Propietarios</span>
        </a>
        <span class="tooltip">Propietarios</span>
      </li>

      <li>
        <a href="dashmascotas.html">
         <i class='bx bx-user'></i>
         <span class="links_name">Mascotas</span>
        </a>
        <span class="tooltip">Mascotas</span>
      </li>

       <li>
        <a href="dashturnos.html">
         <i class='bx bx-chat'></i>
         <span class="links_name">Turnos</span>
        </a>
        <span class="tooltip">Turnos</span>
      </li>

      <li>
        <a href="dashlogs.html">
         <i class='bx bx-pie-chart-alt-2'></i>
         <span class="links_name">Logs</span>
        </a>
        <span class="tooltip">Logs</span>
      </li>

      <li>
        <a href="dashhist.html">
         <i class='bx bx-folder'></i>
         <span class="links_name">Historial Clinico</span>
        </a>
        <span class="tooltip">Historial</span>
      </li>

      <li>
        <a href="dashvacunas.html">
         <i class='bx bx-heart'></i>
         <span class="links_name">Vacunas</span>
        </a>
        <span class="tooltip">Vacunas</span>
      </li>
  <!-- TERMINA LISTA DE OPCIONES DEL PANEL -->
  <!-- Footer del panel -->
     </ul>
     <div class="content">
       <div class="user">
         <div class="user_details">
           <img src="images/profile.jpg" alt="">
           <div class="name_job">
             <div class="name">Nombre Usuario</div>
             <div class="job">Tipo   Usuario</div>
           </div>
         </div>
         <i class='bx bx-log-out' id="log_out"></i>
       </div>
     </div>
   </div>
   <div class="home_content">
  <!-- Termina el Footer del panel -->


    <!-- COMIENZA CONTENIDO DEL MENU -->
     <div class="text">Dashboard</div>

     <div class="formulario">
      <h2>Alta de Usuarios</h2>
      <form>
        <div class="form-group">
          <label for="nombre">Nombre completo:</label>
          <input type="text" id="nombre" name="nombre" required>
        </div>
        
        <div class="form-group">
          <label for="dni">DNI:</label>
          <input type="text" id="dni" name="dni" required>
        </div>
        
        <div class="form-group">
          <label for="fecha_nac">Fecha de nacimiento:</label>
          <input type="date" id="fecha_nac" name="fecha_nac" required>
        </div>
        
        <div class="form-group">
          <label for="direccion">Dirección:</label>
          <input type="text" id="direccion" name="direccion" required>
        </div>
        
        <div class="form-group">
          <label for="provincia">Provincia:</label>
          <input type="text" id="provincia" name="provincia" required>
        </div>
        
        <div class="form-group">
          <label for="localidad">Localidad:</label>
          <input type="text" id="localidad" name="localidad" required>
        </div>
        
        <div class="form-group">
          <label for="celular">Celular:</label>
          <input type="tel" id="celular" name="celular" required>
        </div>
        
        <button type="submit">Cargar</button>
        <button type="submit">Modificar</button>
        <button type="submit">Eliminar</button>
      </form>
    </div>
    
    <div class="formulario">
      <h2>Búsqueda de Usuarios</h2>
      <form>
        <div class="form-group">
          <label for="buscar_dni">Buscar por DNI:</label>
          <input type="text" id="buscar_dni" name="buscar_dni">
        </div>
        
        <button type="submit">Buscar</button>
    

  </div>
   </div>

<script src="jsdash.js"></script>
</body>
</html>

