
<!DOCTYPE html> 
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> OSNeAl - Panel </title>
    <link rel="stylesheet" href="assets/css/stylesdash.css">
    <!-- Boxicons CDN Link -->
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
<body>

  <!-- COMIENZA PANEL -->
   <div class="sidebar">
     <div class="logo_content">
       <div class="logo">
         <div class="logo_name">Panel de Administración</div>
       </div>
       <i class='bx bx-menu' id="btn"></i>
     </div>

     <ul class="nav_list">

      <li>
        <a href="dashuser.html">
         <i class='bx bx-user'></i>
         <span class="links_name">Propietarios</span>
        </a>
        <span class="tooltip">Propietarios</span>
      </li>

      <li>
        <a href="dashmascotas.html">
         <i class='bx bx-user'></i>
         <span class="links_name">Mascotas</span>
        </a>
        <span class="tooltip">Mascotas</span>
      </li>

       <li>
        <a href="dashturnos.html">
         <i class='bx bx-chat'></i>
         <span class="links_name">Turnos</span>
        </a>
        <span class="tooltip">Turnos</span>
      </li>

      <li>
        <a href="dashlogs.html">
         <i class='bx bx-pie-chart-alt-2'></i>
         <span class="links_name">Logs</span>
        </a>
        <span class="tooltip">Logs</span>
      </li>

      <li>
        <a href="dashhist.html">
         <i class='bx bx-folder'></i>
         <span class="links_name">Historial Clinico</span>
        </a>
        <span class="tooltip">Historial</span>
      </li>

      <li>
        <a href="dashvacunas.html">
         <i class='bx bx-heart'></i>
         <span class="links_name">Vacunas</span>
        </a>
        <span class="tooltip">Vacunas</span>
      </li>
  <!-- TERMINA LISTA DE OPCIONES DEL PANEL -->
  <!-- Footer del panel -->
     </ul>
     <div class="content">
       <div class="user">
         <div class="user_details">
           <img src="images/profile.jpg" alt="">
           <div class="name_job">
             <div class="name">Nombre Usuario</div>
             <div class="job">Tipo   Usuario</div>
           </div>
         </div>
         <i class='bx bx-log-out' id="log_out"></i>
       </div>
     </div>
   </div>
   <div class="home_content">
  <!-- Termina el Footer del panel -->


    <!-- COMIENZA CONTENIDO DEL MENU -->
    <div class="text">ALTA DE MASCOTAS</div>

    <div class="formulario">
      <div class="container">
        <div class="search-container">
          <form>
            <input type="text" placeholder="Ingrese DNI Propietario...">
          </form>
        </div>
      </div>

    <div class="container">
     <form>
       <div class="form-group">
         <label for="nombre">Nombre:</label>
         <input type="text" id="nombre" name="nombre" required>
       </div>

       <div class="form-group">
         <label for="microchip">Microchip:</label>
         <input type="text" id="microchip" name="microchip" required>
       </div>

       <div class="form-group">
         <label for="especie">Especie:</label>
         <input type="text" id="especie" name="especie" required>
       </div>

       <div class="form-group">
         <label for="raza">Raza:</label>
         <input type="text" id="raza" name="raza" required>
       </div>

       <div class="form-group">
         <label for="provincia">Pelaje:</label>
         <input type="text" id="pelaje" name="pelaje" required>
       </div>

       <div class="form-group">
         <label for="edad">Edad:</label>
         <input type="text" id="edad" name="edad" required>
       </div>

       <div class="btn-container">
         <button type="submit">CARGAR</button>
         <button type="button">MODIFICAR</button>
         <button type="button">ELIMINAR</button>
       </div>
     </form>
   </div>
    
    <div class="formulario">
      <div class="container">
        <div class="search-container">
          <form>
            <input type="text" placeholder="Buscar Mascotas...">
            <button type="submit">Buscar</button>
          </form>
        </div>
      </div>
    

  </div>
   </div>

   <script src="assets/js/jsdash.js"></script>
</body>
</html>

