{% extends 'dash-base.html' %}


{% block encabezado %}
<!-- fullcalendar -->

<script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.5/index.global.min.js'></script>
<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"
  integrity="sha256-xLD7nhI62fcsEZK2/v8LsBcb4lG7dgULkuXoXB/j91c=" crossorigin="anonymous"></script>
<style>
  .ui-autocomplete {
    z-index: 1050 !important;
    position: absolute;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 5px;
    max-height: 200px;
    overflow-y: auto;
  }

  .ui-autocomplete li {
    list-style: none;
    padding: 5px;
    cursor: pointer;
  }

  .ui-autocomplete li:hover {
    background-color: #f5f5f5;
  }

  #calendar {
    height: 90vh;
  }
</style>
{% endblock encabezado %}


{% block contenido %}
{% csrf_token %}


<div class="text">Turnos</div>
<div id='calendar'></div>
<!-- HTML del modal con el formulario -->
<div id="myModal" class="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="myModalLabel">Asignar turno</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id="formulario" method="POST">
          <div class="">
            <label for="descripcion_corta">Descripción corta del turno</label>
            <input type="text" id="descripcion_corta" name="descripcion_corta" class="form-control" required>
          </div>
          <div class="ui-widget">
            <label for="mascota">Microchip de mascota:</label>
            <input type="text" id="mascota" name="mascota" class="form-control" required>

          </div>
          <div class="">
            <label for="tipo_turno">Tipo de turno</label>
            <select class="form-control" id="tipo_turno" name="tipo_turno">
              <option value="Veterinaria" selected>Veterinaria</option>
              <option value="Peluqueria">Peluquería</option>
            </select>
          </div>

          <div class="">
            <label for="inicio">Fecha y Hora de inicio</label>
            <input type="datetime-local" id="inicio" name="inicio" class="form-control" required>
          </div>
          <div class="">
            <label for="fin">Fecha y Hora de fin</label>
            <input type="datetime-local" id="fin" name="fin" class="form-control" required>
          </div>
          <div class="">
            <label for="descripcion">Descripción</label>
            <textarea name="descripcion" id="descripcion" cols="30" rows="5"></textarea>
          </div>
          <!-- Otros campos del formulario -->

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary" id="saveButton">Guardar</button>
      </div>
      </form>
    </div>
  </div>
</div>

<div id="DetailModal" class="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="myModalLabel">Detalle de Turno</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="">
          <label for="detalle_descripcion_corta">Descripción corta del turno</label>
          <input type="text" id="detalle_descripcion_corta" name="detalle_descripcion_corta" class="form-control"
            readonly>
        </div>
        <div class="ui-widget">
          <label for="detalle_mascota">Nombre de la mascota:</label>
          <input type="text" id="detalle_mascota" name="detalle_mascota" class="form-control" readonly>

        </div>
        <div class="">
          <label for="detalle_tipo_turno">Tipo de turno</label>
          <input type="text" id="detalle_tipo_turno" name="detalle_tipo_turno" class="form-control" readonly>
        </div>
        <div class="">
          <label for="detalle_inicio">Fecha y Hora de inicio</label>
          <input type="datetime-local" id="detalle_inicio" name="detalle_inicio" class="form-control" readonly>
        </div>
        <div class="">
          <label for="detalle_fin">Fecha y Hora de fin</label>
          <input type="datetime-local" id="detalle_fin" name="detalle_fin" class="form-control" readonly>
        </div>
        <div class="">
          <label for="detalle_descripcion">Descripción</label>
          <textarea name="detalle_descripcion" id="detalle_descripcion" cols="30" rows="5" readonly></textarea>
        </div>
        <!-- Otros campos del formulario -->

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary" id="deleteButton">Borrar</button>
      </div>
    </div>
  </div>
</div>


<script>

  $(document).ready(function () {

    const NOMBRES_CAMPO = {
      "descripcion_corta": "Descripción corta del turno",
      "mascota": "Microchip de mascota",
      "tipo_turno": "Tipo de turno",
      "inicio": "Fecha y Hora de inicio",
      "fin": "Fecha y Hora de fin",
      "descripcion": "Descripción",
      "Error": "Error",
      "__all__": "Error",
    }

    const cargar_eventos = () => {
      $.ajax({
        url: '/turnos/obtener_turnos_admin/',
        type: 'GET',
        dataType: 'json',
        success: function (response) {
          console.log(response)
          calendar.removeAllEvents();  // Eliminar todos los eventos actuales
          calendar.addEventSource(response);  // Agregar los nuevos eventos
          calendar.refetchEvents();  // Volver a cargar los eventos en el calendario
        },
        error: function (error) {
          console.error(error);
        }
      });
    }

    const borrar_evento = (id_turno) => {
      $.ajax({
        url: '/turnos/borrar_turnos_admin/',
        type: 'POST',
        dataType: 'json',
        data: {
          'id_turno': id_turno,
          'csrfmiddlewaretoken': '{{ csrf_token }}'
        },
        success: function (response) {
          new jBox('Notice', {
            content: "Turno borrado correctamente.",
            color: 'green',
            autoClose: 5000
          });
          cargar_eventos()
          $('#DetailModal').modal('hide');
          $('#formulario').trigger('reset');
        },
        error: function (error) {
          new jBox('Notice', {
            content: "No se pudo borrar el turno.",
            color: 'red',
            autoClose: 5000
          });
        }
      });
    }

    $('#deleteButton').on('click', function () {
      var info = $(this).data('info');
      new jBox('Confirm', {
        content: "¿Está seguro que desea borrar el turno?",
        confirmButton: 'Si',
        cancelButton: 'No',
        confirm: function () {
          borrar_evento(info.event.id);
        }
      }).open();
    });


    var calendarEl = document.getElementById('calendar');
    var calendar = new FullCalendar.Calendar(calendarEl, {
      locale: 'es',
      buttonText: {
        today: 'Hoy',
        month: 'Mes',
      },
      // selectable: true,
      headerToolbar: {
        left: 'prev,next today',
        center: 'title',
        right: 'dayGridMonth,',

      },
      dateClick: function (info) {
        $('#myModal').modal('show') // initializes and invokes show immediately
        $('#inicio').val(`${info.dateStr}T00:00:00`)
        $('#fin').val(`${info.dateStr}T00:00:00`)

      },
      eventClick: function (info) {
        console.log(info.event.id)
        inicio = info.event.startStr
        inicio = new Date(inicio)
        inicio.setHours(inicio.getHours() - 3)
        inicio = inicio.toISOString().slice(0, 16);
        fin = info.event.endStr
        fin = new Date(fin)
        fin.setHours(fin.getHours() - 3)
        fin = fin.toISOString().slice(0, 16);

        $('#DetailModal').modal('show') // initializes and invokes show immediately
        $('#detalle_descripcion_corta').val(info.event.title)
        $('#detalle_mascota').val(info.event.extendedProps.mascota)
        $('#detalle_tipo_turno').val(info.event.extendedProps.tipo_turno)
        console.log(info.event.startStr)
        $('#detalle_inicio').val(inicio)
        $('#detalle_fin').val(fin)
        $('#detalle_descripcion').val(info.event.extendedProps.descripcion)

        $('#deleteButton').data('info', info);
      }

    });
    calendar.render();
    cargar_eventos();

    // Capturar el evento keyup en el campo de búsqueda
    $('#mascota').on('keyup', function () {
      var inputText = $(this).val(); // Obtener el texto ingresado en el campo de búsqueda
      var url_busqueda = '/mascotas/mascotas-autocomplete'


      // Realizar una solicitud AJAX para obtener las opciones dinámicas
      $.ajax({
        url: `${url_busqueda}/?q=${inputText}`,
        type: 'GET',
        dataType: 'json',
        data: { search: inputText }, // Enviar el texto ingresado como parámetro de búsqueda
        success: function (response) {

          var options = response.results.map(function (result) {
            return result.text;
          });
          // Inicializar el autocompletado con las opciones dinámicas
          $('#mascota').autocomplete({
            source: options // Utilizar la respuesta del servidor como fuente de opciones
          });
        },
        error: function (error) {
          console.error(error);
        }
      });

    });


    // ENVIO DE FORMULARIO

    $('#saveButton').on('click', function (event) {
      var data = $('#formulario').serialize();
      $.ajax({
        url: '/turnos/crear_turnos_admin/',
        data: data,
        type: 'POST',
        dataType: 'json',
        headers: { "X-CSRFToken": '{{ csrf_token }}' },
        success: function (response) {
          new jBox('Notice', { content: "Turno asignado correctamente.", color: 'green' });
          $('#myModal').modal('hide');
          calendar.refetchEvents();
          $('#formulario').trigger('reset');
          cargar_eventos();

        },
        error: function (error) {
          for (var clave in error.responseJSON.mensaje) {
            if (error.responseJSON.mensaje.hasOwnProperty(clave)) {
              var valor = error.responseJSON.mensaje[clave];
              new jBox('Notice', { content: NOMBRES_CAMPO[clave] + ": " + valor, color: 'red' })
            }
          }
        }
      });
    });

  });

</script>

{% endblock contenido %}
