{% extends 'dash-base.html' %}
{% load render_table from django_tables2 %}

    <!-- COMIENZA CONTENIDO DEL MENU -->

    {% block contenido %}

    <div class="container">
      <h1>Historial Clínico {{mascota.nombre}}</h1>
      {% render_table table %}

    </div>

  {% endblock contenido %}

  {% block js %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  {% endblock js %}
