{% extends 'dash-base.html' %}
    <!-- COMIENZA CONTENIDO DEL MENU -->

    {% block contenido %}

    <div class="container">
      <h1>Mascotas</h1>


      <div class="row">
        {% for mascota in mascotas  %}
        <!-- Creamos una tarjeta para cada mascota -->
        <div class="col-md-4">
          <div class="card">

            {% if mascota.foto %}
            <img src="{{mascota.foto.url}}" class="card-img-top" alt="Imagen de la mascota">
            {% else %}
            <img src="https://via.placeholder.com/300x200" class="card-img-top" alt="Imagen de la mascota">
            {% endif %}
            <div class="card-body">
              <h5 class="card-title">{{mascota.nombre}}</h5>
              <p class="card-text">Microchip: {{mascota.micro_chip}} </p>
              <!-- Agregamos los botones para acceder al historial clínico y las vacunas -->
              <a href="{% url 'mascotas:mis_mascotas_historial' %}" class="btn btn-primary">Historial Clínico</a>
              <a href="{% url 'mascotas:mis_mascotas_vacunas'  %}" class="btn btn-secondary">Vacunas</a>
            </div>
          </div>
        </div>
        {% endfor %}
    </div>


  {% endblock contenido %}

  {% block js %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  {% endblock js %}
