{% extends 'dash-base.html' %}
    <!-- COMIENZA CONTENIDO DEL MENU -->
    
    {% block contenido %}

    <div class="text">Historial de Vacunas</div>

    <div class="container">
      <h1>Vacunación de mascotas</h1>
      <table class="table">
        <thead>
          <tr>
            <th>Vacuna</th>
            <th>Fecha última vacunación</th>
            <th>Próxima vacunación</th>
                 <!-- VISUALIZACION SOLO PARA EL ADMIN -->
            <th>Editar</th>
            <th>Eliminar</th>
          </tr>
        </thead>
        <tbody id="tabla-vacunas">
          <tr>
            <td>Vacuna 1</td>
            <td>01/01/2022</td>
            <td>01/07/2022</td>
                <!-- VISUALIZACION SOLO PARA EL ADMIN -->
            <td><button class="btn btn-primary">Editar</button></td>
            <td><button class="btn btn-danger">Eliminar</button></td>
          </tr>
          <tr>
            <td>Vacuna 2</td>
            <td>01/01/2022</td>
            <td>01/07/2022</td>
            <td><button class="btn btn-primary">Editar</button></td>
            <td><button class="btn btn-danger">Eliminar</button></td>
          </tr>
          <!-- Agregar más filas de la tabla según sea necesario -->
        </tbody>
      </table>
    </div>

  {% endblock contenido %}

  {% block js %}

  {% endblock js %}