{% extends 'dash-base.html' %}
<!-- COMIENZA CONTENIDO DEL MENU -->
{% load static %}

{% block encabezado %}
<style>
  body {

    background-color: #eee;
  }

  .card {

    background-color: #fff;
    padding: 15px;
    border: none;
  }

  /* .input-box {
    position: relative;
  }

  .input-box i {
    position: absolute;
    right: 13px;
    top: 15px;
    color: #ced4da;

  } */

  /* .form-control {

    height: 50px;
    background-color: #eeeeee69;
  } */

  /* .form-control:focus {
    background-color: #eeeeee69;
    box-shadow: none;
    border-color: #eee;
  } */


  .list {

    padding-top: 20px;
    padding-bottom: 10px;
    display: flex;
    align-items: center;

  }

  .border-bottom {

    border-bottom: 2px solid #eee;
  }

  .list i {
    font-size: 19px;
    color: red;
  }

  .list small {

    color: grey;
  }
</style>
{% endblock encabezado %}


{% block contenido %}

<div class="text">GESTION DE MASCOTAS - OSNeAl</div>

<div class="text">BUSCADOR DE MASCOTAS</div>
 
  <div class="input-group mb-3">
    <form action="{% url 'mascotas:buscar' %}" method="GET">
      <input type="text" name="mirco_chip" class="form-control" placeholder="Ingrese el Microchip de la mascota">
      <div class="input-group-append">
        <button class="btn btn-primary" type="submit">Buscar</button>
      </div>
    </form>
  </div>



<div class="text">CARGA DE MASCOTAS A PROPIETARIOS</div>


<form method="POST"  enctype="multipart/form-data">
  {% csrf_token %}
  {% include 'includes/mensajes.html' %}
  {% include 'includes/formulario.html' %}

  <button type="submit" class="btn btn-primary">Agregar mascota</button>
</form>


{% endblock contenido %}


{% block js %}
{% endblock js %}