{% extends 'dash-base.html' %}
<!-- COMIENZA CONTENIDO DEL MENU -->
{% load static %}

{% block encabezado %}
<style>
  body {

    background-color: #eee;
  }

  .card {

    background-color: #fff;
    padding: 15px;
    border: none;
  }

  /* .input-box {
    position: relative;
  }

  .input-box i {
    position: absolute;
    right: 13px;
    top: 15px;
    color: #ced4da;

  } */

  /* .form-control {

    height: 50px;
    background-color: #eeeeee69;
  } */

  /* .form-control:focus {
    background-color: #eeeeee69;
    box-shadow: none;
    border-color: #eee;
  } */


  .list {

    padding-top: 20px;
    padding-bottom: 10px;
    display: flex;
    align-items: center;

  }

  .border-bottom {

    border-bottom: 2px solid #eee;
  }

  .list i {
    font-size: 19px;
    color: red;
  }

  .list small {

    color: grey;
  }
</style>
{% endblock encabezado %}


{% block contenido %}

<div class="text">ALTA DE MASCOTAS</div>

{% if mensaje %}
<div class="alert alert-success" role="alert">
  {{ mensaje }}
</div>
{% endif %}
{{ form.errors }}
<form method="POST">
  {% csrf_token %}
  <div class="form-group card ">
    <div class="form-group">
      <label for="dni">DNI del Usuario Propietario:</label>
      <input type="text" class="form-control" id="dni" name="dni" placeholder="Ingrese el DNI del usuario">
    </div>

  </div>
  <div class="form-group">
    <label for="nombre">Nombre de la mascota:</label>
    <input type="text" class="form-control" id="nombre" name="nombre" placeholder="Ingrese el nombre de la mascota">
  </div>
  <div class="form-group">
    <label for="microchip">Microchip:</label>
    <input type="text" class="form-control" id="microchip" name="micro_chip"
      placeholder="Ingrese el número de microchip">
  </div>
  <div class="form-group">
    <label for="especie">Especie:</label>
    <input type="text" class="form-control" id="especie" name="especie" placeholder="Ingrese la especie de la mascota">
  </div>
  <div class="form-group">
    <label for="raza">Raza:</label>
    <input type="text" class="form-control" id="raza" name="raza" placeholder="Ingrese la raza de la mascota">
  </div>
  <div class="form-group">
    <label for="pelaje">Pelaje:</label>
    <input type="text" class="form-control" id="pelaje" name="pelaje" placeholder="Ingrese el pelaje de la mascota">
  </div>
  <div class="form-group">
    <label for="fecha-nacimiento">Fecha de nacimiento:</label>
    <input type="date" class="form-control" id="fecha_nacimiento" name="fecha_nacimiento">
  </div>
  <div class="form-group">
    <label for="plan">Tipo de Plan:</label>
    <input type="text" class="form-control" id="plan" name="tipo_plan" placeholder="Ingrese el tipo de Plan">
  </div>

  <button type="submit" class="btn btn-primary">Agregar mascota</button>
</form>

<div class="input-group mb-3">
  <form action="{% url 'mascotas:buscar' %}" method="GET">


    <input type="text" name="mirco_chip" class="form-control" placeholder="Ingrese el Microchip de la mascota">
    <div class="input-group-append">
      <button class="btn btn-outline-secondary" type="submit">Buscar</button>
    </div>
  </form>
</div>

{% endblock contenido %}


{% block js %}
{% endblock js %}