{% extends 'dash-base.html' %}
<!-- COMIENZA CONTENIDO DEL MENU -->

{% block contenido %}

<div class="text">Vacunas</div>

{% include 'includes/mensajes.html' %}

<div class="container mt-4">
  <h1 class="mb-4">Vacunación de animales</h1>

  <form action="{% url 'mascotas:carga_vacuna' %}" method="POST">
    {% csrf_token %}
    {% for field in form %}
    <div class="fieldWrapper">
      {{ field.errors }}
      {{ field.label_tag }} {{ field }}
      {% if field.help_text %}
      <p class="help">{{ field.help_text|safe }}</p>
      {% endif %}
    </div>
    {% endfor %}

    <button class="btn btn-primary mt-4" type="submit">Aplicar vacuna</button>
  </form>


  {{ form.media }}

  {% endblock contenido %}
